# ===============================
# Build
# ===============================
bin/
obj/
out/

# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Rider / VSCode
# ===============================
.idea/
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Nuget
# ===============================
*.nupkg
packages/

# ===============================
# Secrets
# ===============================
appsettings.Development.json
.env